body {
  background-color: #1A2433;
}
a {
  color: aqua;
}
h1, h2, h3, h4, p, ul {
    margin-left: 8px;
    margin-right: 8px;
    color: white;
}
.nav ul {
  background-color: #111824;
}
footer {
  color: white;
}
.footer a {
  color: aqua;
}
ol {
  color: white;
}
.dropdown-content {
  background-color: #111824;
}
.dropdown-content a {
  color: white;
}
.dropdown-content a:hover {
  background-color: #111;
}
