body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.banner {
  width: 100%;
  display: block;
}
.banner > .banner-image {
  width: 100%;
  display: block;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
}
.navstd {
  float: left;
}
.navalt {
  float: right;
}
.navstd a  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navalt a  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #111;
}
.navimg {
  text-align: center;
  float: right;
  padding: 6px 14px;
  object-fit: scale-down;
}
.img-container {
  text-align: center;
  display: block;
  max-width: 100%;
  min-width: 100%;
}
h1 {
  margin-left: 8px;
  margin-right: 8px;
}
h2 {
  margin-left: 8px;
  margin-right: 8px;
}
h3 {
  margin-left: 8px;
  margin-right: 8px;
}
h4 {
  margin-left: 8px;
  margin-right: 8px;
}
p {
  margin-left: 8px;
  margin-right: 8px;
}
