body {
  font-family: Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.banner {
  width: 100%;
  display: block;
}
.banner > .banner-image {
  width: 100%;
  display: block;
}
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-family: 'Montserrat', sans-serif;
}
.navstd {
  float: left;
}
.navalt {
  float: right;
}
.navstd a  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navalt a  {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav li a:hover {
  background-color: #111;
}
.navimg {
  text-align: center;
  float: right;
  padding: 6px 14px;
  object-fit: scale-down;
}
.img-container {
  text-align: center;
  display: block;
  max-width: 100%;
  min-width: 100%;
}
.projectimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin-left: 8px;
  margin-right: 8px;
}
h2 {
  margin-left: 8px;
  margin-right: 8px;
}
h3 {
  margin-left: 8px;
  margin-right: 8px;
}
h4 {
  margin-left: 8px;
  margin-right: 8px;
}
p {
  margin-left: 8px;
  margin-right: 8px;
}
code {
  font-family: Consolas,"courier new";
  color: black;
  background-color: #dedede;
  padding: 2px;
}
.neonText {
  font-family: "Vibur", sans-serif;
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
@keyframes pulsate0 {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #0fa,
      0 0 73px #0fa,
      0 0 80px #0fa,
      0 0 94px #0fa,
      0 0 140px #0fa;
  }
}

@keyframes pulsate1 {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0c1,
      0 0 80px #0c1,
      0 0 90px #0c1,
      0 0 100px #0c1,
      0 0 150px #0c1;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #0c1,
      0 0 73px #0c1,
      0 0 80px #0c1,
      0 0 94px #0c1,
      0 0 140px #0c1;
  }
}
@keyframes pulsate2 {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f00,
      0 0 80px #f00,
      0 0 90px #f00,
      0 0 100px #f00,
      0 0 150px #f00;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px #f00,
      0 0 73px #f00,
      0 0 80px #f00,
      0 0 94px #f00,
      0 0 140px #f00;
  }
}
