<style>
    .footer-icons a {
        color: var(--bs-body-color);
        font-size: 1.5rem;
    }
</style>
<footer class="footer bg-body-secondary text-lg-start border-top align-items-center text-center" style="position: absolute; bottom: 0; width: 100%;">
    <div class="text-center p-2 align-items-center ">
        Copyright &copy; 2020-<span id="footerDate"></span> NCX Programming. <a href="/contactus" class="text-reset fw-bold">Contact us.</a>
        <br>
        <span class="footer-icons"><a href="https://github.com/NCX-Programming"><i class="bi bi-github"></i></a> <a href="https://discord.gg/TbPXuFr"><i class="bi bi-discord"></i></a></span>
    </div>
</footer>
