<div class="nav">
    <nav>
        <ul>
            <li class="navstd"><a href="/">Homee</a></li>
            <li class="navstd"><a href="/programs/">Programs</a></li>
            <li class="navstd"><a href="/members/">Members</a></li>
            <li class="navimg"><a href="https://github.com/NCX-Programming" target="_blank"><img src="/files/site/images/github64px.png" style="width:32px;height:32px;"/></a></li>
            <li class="navimg"><a href="https://discord.gg/TbPXuFr" target="_blank"><img src="/files/site/images/discord.png" style="width:30px;height:32px;"/></a></li>
            <li class="navalt"><a href="/blog/">Our Blog</a></li>
        </ul>
    </nav>
</div>
