<div class="nav">
    <nav>
        <ul>
            <li class="navstd"><a href="/">Home</a></li>
            <li class="navstd"><a href="/programs/">Programs</a></li>
            <li class="navstd"><a href="/members/">Members</a></li>
            <li class="navstd"><a href="/products/icons">Products</a></li>
            <li class="navimg"><a href="https://github.com/NCX-Programming" target="_blank"><img src="https://cdn.ncxprogramming.com/file/image/navbar/github-light.svg" style="width:32px;height:32px;"/></a></li>
            <li class="navimg"><a href="https://discord.gg/TbPXuFr" target="_blank"><img src="https://cdn.ncxprogramming.com/file/image/navbar/discord.svg" style="width:32px;height:32px;"/></a></li>
            <li class="navimg">
                <div class="dropdown">
                <a class="dropbtn"><img src="https://cdn.ncxprogramming.com/file/image/navbar/theme.svg" style="width:32px;height:32px;"/></a>
                    <div class="dropdown-content">
                      <a onclick="chooseTheme(&quot;&quot;)" href="javascript:void(0);">Light</a>
                      <a onclick="chooseTheme(&quot;/CSS/dark.css&quot;)" href="javascript:void(0);">Dark</a>
                      <a onclick="chooseTheme(&quot;/CSS/black.css&quot;)" href="javascript:void(0);">Black</a>
                      <a onclick="chooseTheme(&quot;/CSS/blue.css&quot;)" href="javascript:void(0);">Blue</a>
                    </div>
                </div>
            </li>
            <li class="navalt"><a href="/blog">Our Blog</a></li>
        </ul>
    </nav>
</div>
