<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" type="image/png" href="/icon.png"/>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <meta property="og:title" content="Welcome">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.title }} | {{ site.title }}">
    <link rel="canonical" href="https://ncxprogramming.com">
    <meta property="og:url" content="https://ncxprogramming.com">
    <meta property="og:site_name" content="NCX Programming">
    <meta property="og:image" content="https://ncxprogramming.com/icon.png">
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
  </body>
  {% include footer.html %}
</html>
