<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="icon" type="image/png" href="/icon.png"/>
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    {% if page.title == "Home" %}
      <meta property="og:title" content="Welcome">
    {% else %}
      <meta property="og:title" content="{{ page.title }}">
    {% endif %}
    <meta property="og:locale" content="en_US">
    <meta name="description" content="{{ page.title }} | {{ site.title }}">
    <meta property="og:description" content="{{ page.title }} | {{ site.title }}">
    <link rel="canonical" href="https://ncxprogramming.com">
    <meta property="og:url" content="https://ncxprogramming.com">
    <meta property="og:site_name" content="NCX Programming">
    {% if page.custicon == true %}
      <meta property="og:image" content="{{ page.iconurl }}">
    {% else %}
      <meta property="og:image" content="https://ncxprogramming.com/icon.png">
    {% endif %}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        AOS.init();
      });
    </script>
  </head>
  <body>
    {% include nav.html %}
    {{ content }}
  </body>
  {% include footer.html %}
</html>
